{{define "promot"}}

<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Challenge1</title>
    <link rel="stylesheet" type="text/css" href="../CSS/Style.css">
</head>

<body>
  <div id="Blocks">
<h1>Informations sur la promotion</h1>
<div>
<ul>
    <li>
   <p><strong>Nom:</strong> {{.Promotion1.Nom }}</p>
     </li>
    <li>
   <p><strong>Filière:</strong> {{.Promotion1.Filiere}}</p>
   </li>
   <li>
    <p><strong>Niveau:</strong> {{.Promotion1.Niveau}}</p>
    </li>
   <li>
    <p><strong>Nombres des etudiants:</strong> {{.NombreEtudiants}}</p>
    </li>
</ul>
</div>
<h1>Liste des étudiants</h1>

{{ range .Promotion1.Students}}
 <div id="Students">
     <div class="mentor">
<span><p>{{.Prenom}} {{.Nom}}</p></span>
<span><p>{{.Age}}</p>  </span>
</div>
 {{if eq .Sexe "M"}}
   <img src="../CSS/GenderMan.png" alt="Homme">
   {{else}}
   <img src="../CSS/GenderWomen.png" alt="Femme">
   {{end}}
</div>
 {{end}}

</div>
</body>
</html>
{{end}}